
{% extends 'core/base.se.html' %}

{% block paciente_link %}

{% url 'pacientes:detail' afiliado.paciente_id.id %}

{% endblock paciente_link %}  

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Datos de la Obra Social </h1>

  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-lg-12">
    <div class="card shadow mb-4">
      <!-- Card Header - Accordion -->
      <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
        <h5 class="m-0 font-weight-bold text-primary">{{ afiliado.ObraSocial }}</h5>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample">
        <div class="card-body">
          
          <form>
            {% csrf_token %}
        
            <!-- {{ form.as_p }} -->
        
        </form>
         <h5>
          <span class="badge badge-secondary">Numero de Afiliado</span> {{afiliado.n_afiliado}}
          <span class="badge badge-secondary">Nombre y Apellido</span> {{afiliado.nya}}
        </h5>
        <h5>
          <span class="badge badge-secondary">Paciente Relacionado</span> {{afiliado.paciente_id}}

        </h5>  
          <a href="{% url 'pacientes:brief' afiliado.paciente_id.id  %}"class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-arrow-left fa-sm "></i> Volver</a>
          <a href="{% url 'obrasocial:editar' afiliado.id  %}"class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-user-edit fa-sm "></i> Editar</a>
          <a href="{% url 'obrasocial:delete' afiliado.id %}"class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="fas fa-trash fa-sm "></i> Eliminar</a>

        </div>
      </div>
    </div>
  </div>
  </div>
          {% endblock %}




