{% extends 'core/base.index.html' %}
{%load static%}

{% block lista_espera %}
    {% for turno in lista_espera%}  
      {%if turno.tratado is False %}
    {% url 'pacientes:brief' turno.paciente_id.id as url_paciente_detail %}
      <a class="collapse-item" href="{{url_paciente_detail}}">{{turno.nya}}</a>
      {% endif%}
      {% empty %}
      No hay Pacientes aun...
    {% endfor %} 
{%endblock%}




{% block content %}



  <!-- Page Heading -->

  <div class="d-sm-flex align-items-left justify-content-start mb-4">
    <a href="{%url 'pacientes:list'%}" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm ml-4">
      <i class="fas fa-arrow-left fa-sm text-blue-50"></i> Dashboard
    </a>
    <a href="{%url 'turnos:create'%}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm ml-2">
      <i class="fas fa-plus fa-sm text-white-50"></i> Nuevo Pacientes en Espera
    </a>
    
    <a href="{%url 'turnos:list_history'%}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm ml-2">
      <i class="fas fa-plus fa-sm text-white-50"></i> Historial de Turnos
    </a>
  </div>


  <!-- Content Row -->

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h5 class="m-0 font-weight-bold text-primary">Lista de Espera de Pacientes -  {% now "SHORT_DATE_FORMAT" %}</h5>
      
    </div>

    
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>N° Turno</th>
              <th>Fecha Turno</th>
              <th>Nombre y Apellido</th>
              <th>Paciente Relacionado</th>
              <th>Tutor</th>
              <th>Estado</th>
              <th><i class="fas fa-sliders-h    "></i></th>
             </tr>

     
          </thead>

          <tbody>
            {% for turnos in object_list %}
               
            <tr>
              <td>{{turnos.id}}</td>
              <td>{{turnos.fecha_turno|date:"d-m-y"}} {{turnos.fecha_turno|time}}</td>
              

              <td>{{turnos.nya}}</td>
              
              {% url 'pacientes:brief' turnos.paciente_id.id as url_paciente_resumen %}
              <td><a href="{{url_paciente_resumen}}">{{turnos.paciente_id}}</a>
                </td>
                <td>{{turnos.paciente_id.tutor}}</td>
                <td>{% if turnos.tratado %}Tratado
                  {%else %}
                    En Espera
                  {%endif%}
                </td>
              <td><a href="{% url 'turnos:detail' turnos.id  %}"class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-user-edit fa-sm "></i> </a>
                {%if turnos.paciente_id == None %}
                <a href="{% url 'paciente:create'  %}"class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Paciente</a>
                {%endif%}


                
              </td>
            </tr>
            {% empty %}
            <!-- No hay Recetas aun... -->
            {% endfor %}   

          </tbody>
        </table>
      </div>
    </div>
  </div>

<!-- End of Main Content -->

<!-- Footer -->
<!-- <footer class="sticky-footer bg-white">
<div class="container my-auto">
  <div class="copyright text-center my-auto">
    <span>Copyright &copy; Your Website 2019</span>
  </div>
</div>
</footer> -->
<!-- End of Footer -->


         
{% endblock %}
     
{% block scripts %}    
<script src="{% static 'core/js/demo/datatables-turnos.js'%}"></script>
{%endblock%}


