{% extends 'core/base.se.html' %}
{%load static%}
{% block content %}



  <!-- Page Heading -->

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h4>
        <a href="{% url 'recetas:custom' %}" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm"><i class="fas fa-arrow-left"></i>Volver a Custom Template Recetas </a>
        <a href="{% url 'recetas:make-template' %}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
          <i class="fas fa-download fa-sm text-white-50"></i> Nuevo Templates de Receta
        </a>

    
  </h4>
  <!-- <a href="{% url 'recetas:custom' %}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
    <i class="fas fa-download fa-sm text-white-50"></i> Customizar Templates de Recetas
  </a> -->
  </div>


  <!-- Content Row -->

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Listado de Templates de Recetas</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Template</th>
              <th>Encabezado</th>
              <th>Pie</th>
              <th>Tipo</th>
              <th>Alig. Contenido</th>
              <th>Alig. Encabezado</th>
              <th>Alig. Pie</th>
              <th>Acciones</th>
             </tr>

     
          </thead>

          <tbody>
            {% for receta in object_list %}
               
            <tr>
              <td>{{receta.name}}</td>
              <td>{{receta.header_id}}</td>
              <td>{{receta.footer_id}}</td>
              <td>
                
                {% if receta.default_template %}
                  Default
                {% else %}
                  No es Default
                {% endif %}
                  
                </td>
                <td>{{receta.orientacion}}</td>
                <td>{{receta.header_id.orientacion}}</td>
                <td>{{receta.footer_id.orientacion}}</td>

              <td>
                <a href="{%url 'recetas:preview_pdf' receta.id %}"><i class="fas fa-eye"></i></a>
                <a href="{%url 'recetas:edit-custom-template' receta.id %}"><i class="fas fa-edit"></i></a>
              </td>
            </tr>
            {% empty %}
            <!-- No hay Recetas aun... -->
            {% endfor %}   

          </tbody>
        </table>
      </div>
    </div>
  </div>

<!-- End of Main Content -->

<!-- Footer -->
<!-- <footer class="sticky-footer bg-white">
<div class="container my-auto">
  <div class="copyright text-center my-auto">
    <span>Copyright &copy; Your Website 2019</span>
  </div>
</div>
</footer> -->
<!-- End of Footer -->


         
{% endblock %}
{% block scripts %}    
<script src="{% static 'core/js/demo/datatables-template-recetas.js'%}"></script>
{%endblock%}



