{% extends 'core/base.se.html' %}
{%load static%}

#plano {
  margin: 0 auto;
  display: block;
  border: 1px solid #d9d9d9;
}

{% block content %}
<head>
  <style>
#the-canvas {
  /* margin: 0 auto;
  display: block; */
  border: 3px solid grey;
}

  </style>
</head>
  <!-- Page Heading -->
  {% include 'recetas/navbar.html' %}
  <p>Template Default</p>
  <!-- <img src="{% static 'core/img/receta_modelo.png'%}" alt=""> -->
  <canvas id="the-canvas"></canvas>

{% endblock %}

{% block scripts %}

<script>

// If absolute URL from the remote server is provided, configure the CORS
// header on that server.
//var url = 'https://raw.githubusercontent.com/mozilla/pdf.js/ba2edeae/examples/learning/helloworld.pdf';

// Loaded via <script> tag, create shortcut to access PDF.js exports.
//var pdfjsLib = window['pdfjs-dist/build/pdf'];

// The workerSrc property shall be specified.
// pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';
//var url = '/media/receta_test.pdf';
var url = 'http://localhost:8000'+'{% url 'recetas:get_default_template' %}';
// var url = 'http://localhost:8000/recetas/api/get_default_template';
console.log(url);
// Asynchronous download of PDF
var loadingTask = pdfjsLib.getDocument(url);
loadingTask.promise.then(function(pdf) {
  console.log('PDF loaded');
  
  // Fetch the first page
  var pageNumber = 1;
  pdf.getPage(pageNumber).then(function(page) {
    console.log('Page loaded');
    
    var scale = 1.2;
    var viewport = page.getViewport({scale: scale});

    // Prepare canvas using PDF page dimensions
    var canvas = document.getElementById('the-canvas');
    var context = canvas.getContext('2d');
    canvas.height = viewport.height;
    canvas.width = viewport.width;

    // Render PDF page into canvas context
    var renderContext = {
      canvasContext: context,
      viewport: viewport
    };
    var renderTask = page.render(renderContext);
    renderTask.promise.then(function () {
      console.log('Page rendered');
    });
  });
}, function (reason) {
  // PDF loading error
  console.error(reason);
});

</script>

<!-- <script>
  pdfjsLib.getDocument('/media/receta_test.pdf').then(function(pdf) {

  // you can now use *pdf* here

  var scale = 1.5;
var viewport = page.getViewport(scale);

var canvas = document.getElementById('the-canvas');
var context = canvas.getContext('2d');
canvas.height = viewport.height;
canvas.width = viewport.width;

var renderContext = {
  canvasContext: context,
  viewport: viewport
};
page.render(renderContext);
});
</script> -->

{% endblock scripts %}


