{% extends 'core/base.se.html' %}

{% block content %}


<head>
    <style>
      select option {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 400px;
    }
    </style>

</head>

<a href="{% url 'recetas:template_list' %}" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm mb-4"><i class="fas fa-arrow-left"></i>Volver</a>


<div class="card shadow mb-4">
    <div class="card-body">
        <form action="" method="POST" >
            {% csrf_token %}
            <label>Ingrese nombre del Template</label>
            <p>{{form.name}}</p>
            <p><label>Seleccione el Encabezado del Template</label>
                <select name="{{ form.header_id.name }}" class="form-control">
                    {% for instance in form.header_id.field.queryset %}
                        <option value="{{ instance.id }}">{{ instance.id }}-{{ instance.header}}</option>
                    {% endfor %}
                </select>
                </p>
                <p><label>Seleccione el Pie del Template</label>
                    <!-- agregar a select para acortar texto en option size='3' -->
                <select name="{{ form.footer_id.name }}" class="form-control" >
                    {% for instance in form.footer_id.field.queryset %}
                        <option value="{{ instance.id }}">{{ instance.id }}-{{ instance.footer}}</option>
                    {% endfor %}
                </select>
                </p>
                <p><label for="id_default_template">Seleccionar como Default?</label> <input type="checkbox" name="default_template" id="id_default_template"></p>
            
                <p><label>Seleccione Orientacion del Contenido de la Receta</label>
                    <!-- agregar a select para acortar texto en option size='3' -->
               


                </p>
                {{form.orientacion}}

        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm maxlength mt-2" type="submit"> <i class="fas fa-save    "></i> Guardar</button>
        </form>  
</div>
</div>


{% endblock content %}
    

<form action="" method="POST" >
    {% csrf_token %}
    {{form.as_p }}
<button type="submit">Enviar</button>
</form> 




